<md-toolbar color="primary">
    Business Contacts
    <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="app-content">
  <md-card>
    <button (click)="changeState('add')" md-raised-button color="primary">Add Business</button>
    <label>
      <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
        <option value="0">Select / All</option>
        <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
      </select>
    </label>
  </md-card>
      <!-- Add Company -->
  <md-card>
    <div *ngIf="appState == 'add'">
        <h3>Add Business</h3>
        <form (submit)="addBusiness(
                company.value,
                category.value,
                years_in_business.value,
                description.value,
                phone.value,
                email.value,
                street_address.value,
                city.value,
                state.value,
                zipcode.value)">
          <md-grid-list cols="2" rowHeight="50px">
            <md-grid-tile>
              <md-input placeholder="Company Name" #company></md-input>
            </md-grid-tile>
            <md-grid-tile>
              <label>Category</label>
              <select #category>
                <option value="0">Select</option>
                <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
              </select>
            </md-grid-tile>
            <md-grid-tile>  
              <md-input  placeholder="Years In Business" #years_in_business></md-input>
            </md-grid-tile>
            <md-grid-tile> 
              <md-textarea placeholder="Description" #description> </md-textarea>
            </md-grid-tile>
            <md-grid-tile>  
              <md-input placeholder="Phone" #phone></md-input>
            </md-grid-tile>
            <md-grid-tile> 
              <md-input placeholder="Email" #email></md-input>
            </md-grid-tile>
            <md-grid-tile>  
              <md-input placeholder="Street Address" #street_address></md-input>
            </md-grid-tile>
            <md-grid-tile> 
              <md-input placeholder="City" #city></md-input>
            </md-grid-tile>
            <md-grid-tile>  
              <md-input placeholder="State" #state></md-input>
            </md-grid-tile>
            <md-grid-tile> 
              <md-input placeholder="Zipcode" #zipcode></md-input>
            </md-grid-tile>
            <md-grid-tile> 
              <input type="submit" value="Submit">
            </md-grid-tile>
          </md-grid-list>
        </form>
    </div>
  </md-card>
  <!-- Edit Company -->
  <md-card>
    <div *ngIf="appState == 'edit'">
      <h3>Edit Business</h3>
      <form (submit)="updateBusiness()"> 
        <md-grid-list cols="2" rowHeight="50px">

          <md-grid-tile>  
              <md-input [(ngModel)]="activeCompany" name="activeCompany" placeholder="Company Name" #company></md-input>
          </md-grid-tile>
          <md-grid-tile> 
              <select [(ngModel)]="activeCategory" name="activeCategory" #category>
                <option value="0">Select</option>
                <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
              </select>
          </md-grid-tile>
          <md-grid-tile>  
              <md-input [(ngModel)]="activeYears_in_business" name="activeYears_in_business" placeholder="Years In Business" #years_in_business></md-input>
          </md-grid-tile>
          <md-grid-tile> 
              <md-textarea [(ngModel)]="activeDescription" name="activeDescription" #description></md-textarea>
          </md-grid-tile>
          <md-grid-tile>  
              <md-input [(ngModel)]="activePhone" name="activePhone" placeholder="Phone" #phone></md-input>
          </md-grid-tile>
          <md-grid-tile> 
              <md-input [(ngModel)]="activeEmail" name="activeEmail" placeholder="Email" #email></md-input>
          </md-grid-tile>
          <md-grid-tile>  
              <md-input [(ngModel)]="activeStreet_address" name="activeStreet_address" placeholder="Street Address" #street_address></md-input>
          </md-grid-tile>
          <md-grid-tile> 
              <md-input [(ngModel)]="activeCity" name="activeCity" placeholder="City" #city></md-input>
          </md-grid-tile>
          <md-grid-tile>  
              <md-input [(ngModel)]="activeState" name="activeState" placeholder="State" #state></md-input>
          </md-grid-tile>
          <md-grid-tile> 
              <md-input [(ngModel)]="activeZipcode" name="activeZipcode" placeholder="Zipcode" #zipcode></md-input>
          </md-grid-tile>
          <md-grid-tile> 
              <input type="submit" value="Submit">
          </md-grid-tile>
        </md-grid-list>
      </form>
    </div>
  </md-card>

  <md-card>
    <div *ngIf="appState == 'extend'">

      <button (click)="changeState('default')" md-raised-button color="primary">Go Back</button>

      <div *ngFor="let business of businesses">
        <div *ngIf="business.$key == activeKey">

          <div>
            <div fxFlex="80">
                <h3>{{business.company}}</h3>
                <p>Category: {{business.category}}</p>
                <p>Years In Business: {{business.years_in_business}}</p>
                <p>{{business.description}}</p>
                <h4>Contact Info</h4>
            </div>
            <div fxFlex="20">
                <md-list>
                  <md-list-item>Phone: {{business.phone}}</md-list-item>
                  <md-list-item>Email: {{business.email}}</md-list-item>
                  <md-list-item>Street: {{business.street_address}}</md-list-item>
                  <md-list-item>City: {{business.city}}</md-list-item>
                  <md-list-item>State: {{business.state}}</md-list-item>
                  <md-list-item>Zipcode: {{business.zipcode}}</md-list-item>
                </md-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-card>

  <div *ngIf="businesses">
    <md-card>
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>Company</th>
            <th>Category</th>
            <th>Phone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let business of businesses">
            <td>{{business.company}}</td>
            <td>{{business.category}}</td>
            <td>{{business.phone}}</td>
            <td>
              <button (click)="changeState('extend', business.$key)" md-raised-button color="primary">More</button>
              <button (click)="showEdit(business)" md-raised-button color="accent">Edit</button>
              <button (click)="deleteBusiness(business.$key)" md-raised-button color="accent">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-card>
  </div>

</div>